@tailwind base;
@tailwind components;
@tailwind utilities;

.footerbg {
  background-image: url("../public/footerbg.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center;
}

/* Removal of input arrows display */
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Custom scrollbar styles specifically for the modal */
.modal::-webkit-scrollbar {
  width: 5px;
}

.modal::-webkit-scrollbar-track {
  background-color: transparent;
}

.modal::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.062);
  border-radius: 10px;
  width: 10px;
}
